{% extends "base.html" %}
{% block start %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body text-center">
                    <h3 class="card-title">Check Your Email</h3>
                    <p class="card-text">We have sent you an email with instructions on how to reset your password. If you don't see it in your inbox, please check your spam folder.</p>
                    <a href="{% url 'login_page' %}" class="btn btn-primary">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}