{% extends "base.html" %}
{% block start %}

<div class="contianer mt-5">

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="mb-3">
          <h2>Add Recipe</h2>

          <hr>
          <label >Recipe name</label>
          <input name="receipe_name" type="text" required class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Recipe Description</label>
          <textarea class="form-control" required name="receipe_description"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Image</label>
          <input name="receipe_image" type="file" class="form-control">
        </div>
        <button type="Add receipe" class="btn btn-success">Submit</button>

        
      </form>

   
      <div class="mt-5">
        <form class="col-6 mx-auto card p-3 shadow-lg" >
        <div class="mb-3">
         
          <label >Search Food</label>
          <input name="search" type="text"  class="form-control" >
        </div>
        <button type="submit" class="btn btn-success">Search</button>
      </form> 
      </div>
    
    

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Receipe name</th>
            <th scope="col">Receipe Description</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for receipe in receipes %}
          <tr>
            
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td><img src="/media/{{receipe.receipe_image}}" style="height:110px"></td>
            <td>
              <a href="/delete_receipe/{{receipe.id}}" class="btn btn-danger">Delete</a>
              <a href="/update_receipe/{{receipe.id}}" class="btn btn-danger">Update</a>
            </td>
            </td>
          </tr>
          {% endfor %}
        </tbody>


</div>
{% endblock %}