{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-md-8 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="mb-4">Add Recipe</h2>
        <hr>

        <div class="mb-3">
            <label for="recipeName" class="form-label">Recipe Name</label>
            <input id="recipeName" name="receipe_name" type="text" required class="form-control">
        </div>

        <div class="mb-3">
            <label for="recipeDescription" class="form-label">Recipe Description</label>
            <textarea id="recipeDescription" name="receipe_description" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label for="recipeImage" class="form-label">Image</label>
            <input id="recipeImage" name="receipe_image" type="file" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <!-- Search Form -->
    <div class="mt-5">
        <form class="col-md-8 mx-auto card p-4 shadow-lg">
            <div class="mb-3">
                <label for="searchInput" class="form-label">Search Food</label>
                <input id="searchInput" name="search" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Recipe Name</th>
                    <th scope="col">Recipe Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for receipe in receipes %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ receipe.receipe_name }}</td>
                    <td>{{ receipe.receipe_description|truncatewords:100 }}</td>
                    <td><img src="/media/{{ receipe.receipe_image }}" class="img-fluid" style="max-height: 110px; object-fit: cover;"></td>
                    <td>
                      <a href="/see_receipe/{{ receipe.id }}" class="btn btn-info btn-sm me-2">View</a>
                      <a href="/delete_receipe/{{ receipe.id }}" class="btn btn-danger btn-sm me-2">Delete</a>
                      <a href="/update_receipe/{{ receipe.id }}" class="btn btn-warning btn-sm">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
